[submodule "warp-coding-with-zach/partykit-quiz-game"]
	path = warp-coding-with-zach/partykit-quiz-game
	url = https://github.com/azigler/partykit-quiz-game
[submodule "block/vibe-with-us-livestream"]
	path = block/vibe-with-us-livestream
	url = https://github.com/blackgirlbytes/vibe-with-us-livestream
[submodule "codetv/web-dev-challenge/unconventional-interfaces"]
	path = codetv/web-dev-challenge/unconventional-interfaces
	url = https://github.com/azigler/unconventional-interfaces
[submodule "theory-ventures/antm-hackathon/antm"]
	path = theory-ventures/antm-hackathon/antm
	url = https://github.com/TheoryVentures/antm
[submodule "the-atlantic/hackathon-infactory"]
	path = the-atlantic/hackathon-infactory
	url = https://github.com/azigler/hackathon-infactory
	branch = main
[submodule "intrinsic/aic"]
	path = intrinsic/aic
	url = https://github.com/azigler/aic
[submodule "google/hackathon-gemma"]
	path = google/hackathon-gemma
	url = https://github.com/azigler/hackathon-gemma
