[submodule "warp-coding-with-zach/partykit-quiz-game"]
	path = warp-coding-with-zach/partykit-quiz-game
	url = https://github.com/azigler/partykit-quiz-game
[submodule "block/vibe-with-us-livestream"]
	path = block/vibe-with-us-livestream
	url = https://github.com/blackgirlbytes/vibe-with-us-livestream
