# Advent of Code Session Cookie
# Get this from your browser's cookies when logged into adventofcode.com
# Look for the "session" cookie
AOC_SESSION=your_session_cookie_here

# Advent of Code Base URL (usually don't need to change this)
AOC_BASE_URL=https://adventofcode.com

# Rate limit in milliseconds (default: 60000 = 1 minute)
# AoC allows 1 submission per minute
RATE_LIMIT_MS=60000
